<h1>スカイラインズグループ オフィシャル</h1>
<p>工事中</p>

Apple Music Playlist<br>
<%= link_to "たくま", "https://music.apple.com/jp/playlist/%E3%81%9F%E3%81%8F%E3%81%BE%E3%81%AE%E6%AE%BF%E5%A0%82%E5%85%A5%E3%82%8A/pl.a92c94b91e16473bb63d779b1ae1283a", target: "_blank" %><br>
<%= link_to "添田", "https://music.apple.com/jp/playlist/snp000/pl.add905726cbb4218b4bfebc5a7c0d386", target: "_blank" %><br>
<%= link_to "はぶち", "https://music.apple.com/jp/playlist/%E3%81%AF%E3%81%B6%E3%81%A1%E3%81%AE%E6%AE%BF%E5%A0%82%E5%85%A5%E3%82%8A/pl.ca9aae143cfa47a2800b9f9901ed9907", target: "_blank" %><br>
<%= link_to "塩見", "https://music.apple.com/jp/playlist/%E3%81%97%E3%81%8A%E3%81%BF%E3%81%AE%E6%AE%BF%E5%A0%82%E5%85%A5%E3%82%8A/pl.89be7a80b9864d1b954bcdca4efb9a36", target: "_blank" %><br>
<%= link_to "新村", "https://music.apple.com/jp/playlist/%E6%AE%BF%E5%A0%82%E5%85%A5%E3%82%8A-%E6%96%B0%E6%9D%91/pl.474fe37088ac4aa9865dd3a62260761c", target: "_blank" %><br>
<%= link_to "中野", "https://music.apple.com/jp/playlist/%E6%AE%BF%E5%A0%82%E5%85%A5%E3%82%8A%E3%81%AA%E3%81%AE%E3%81%8B%E3%81%AA%E3%81%81/pl.4bd50eb615034b44a29a33a7f2c729a0", target: "_blank" %><br>
